.top {
  background-color: #e9e9e9;
  overflow: hidden;
  height: 15%;
  width: 100%;
}
.left {
  background-color: #e9e9e9;
  width: 15%;
  height: 85%;
}
.right {
  background-color: #e9e9e9;
  width: 10%;
  height: 85%;
  text-align: right;
}
.center {
  background-color: #ffffff;
  height: 80vh;
  width: 70%;
  height: 85%;
  margin: 1px;
}

.top input[type="text"] {
  float: right;
  display: block;
  text-align: left;
  width: 100%;
  margin: 1ex;
  padding: 2ex;
}
