.top {
  grid-area: top;
  background-color: #e9e9e9;
  overflow: hidden;
}
.left {
  grid-area: left;
  background-color: #191beb;
}
.right {
  grid-area: right;
  background-color: #17c61c;
}
.center {
  grid-area: center;
  background-color: #c617bc;
}

.wrapper {
  display: grid;
  grid-template-areas:
    "top top top top top top"
    "left center center center center right"
    "left center center center center right"
    "left center center center center right";
  row-gap: 0ex;
  column-gap: 1ex;
  padding: 0ex;
  background-color: #ffffff;
  text-align: left;
}

.top input[type="text"] {
  float: right;
  display: block;
  text-align: left;
  width: 50%;
  margin: 1ex;
  padding: 2ex;
}
